{% extends 'core/base.html' %}

{% block title %}Device Data{% endblock %}

{% block content %}
  <h2>Data for Device: {{ device_id }}</h2>

  {% if data_points %}
    <table class="device-table">
      <tr><th>N</th><td>{{ data_points.N }}</td></tr>
      <tr><th>P</th><td>{{ data_points.P }}</td></tr>
      <tr><th>K</th><td>{{ data_points.K }}</td></tr>
    </table>
  {% else %}
    <p>No data found for this device.</p>
  {% endif %}
   <br>
  <a href="{% url 'dashboard' %}" class="btn-primary">Back to Dashboard</a>
{% endblock %}
