
<header class="main-header">
  <div class="container">
    <div class="logo">
      <a href="{% url 'base' %}">🌿 <strong>Bhoomitra</strong></a>
    
    <nav class="nav-links">
      {% if user.is_authenticated %}
        {% comment %} <a href="{% url 'dashboard' %}">device</a>{% endcomment %}
        <form action="{% url 'logout' %}" method="POST" style="display:inline;"> 
          {% csrf_token %}
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </nav>
    </div>
  </div>
</header>
